{{ attach_library('new_module/global-scripts-style') }}
<h3>{{title}}</h3>

<ul>
{% for mudule in items %}
    <li>{{mudule.title}}</li>
{% endfor %}
</ul>

<div class="login-form">


  <input tipe='text' id="solo_texto" name = 'solo_texto' class="form-control" placeholder="solo texto" onkeypress="return is_letters(event)" >

  <input tipe='text' name = 'solo_numeros' class="form-control" placeholder="solo numeros" onkeypress="return is_number(event)">
</div>