<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="modules\custom\new_module\js\validationContent.js"></script>

<h3>{{title}}</h3>

<ul>
{% for mudule in items %}
    <li>{{mudule.title}}</li>
{% endfor %}
</ul>

<div class="login-form">


  <input tipe='text' id="solo_texto" name = 'solo_texto' class="form-control" placeholder="solo texto" onkeypress="return is_letters(event)" >

  <input tipe='text' name = 'solo_numeros' class="form-control" placeholder="solo numeros" onkeypress="return is_number(event)">
</div>